<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>.:: Sushi Dombury ::.</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="../Dombury_Sushi/img/sushi.ico" rel="shortcut icon">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    

    <!-- CSS Estilos -->
    <link rel="stylesheet" href="css/estilos.css">

</head>

<body>
  <!--banner-->
  <section id="banner">
    <div class="bg-color">

      <header id="header">
      
      </header>

      <div class="container">
        <div class="row">
          <div class="inner text-center">
            <h1 class="logo-name">Sushi Dombury</h1>
          
            <div class="contacts-btn-pad">
              <a href="#menu-list"> <button class="contacts-btn">Ver Menú <i class="fa fa-arrow-down"></i></button></a>
              <a href="#contact"> <button class="contacts-btn2">Ordena Aquí <i class="fa fa-hand-o-left"></i></button></a>
            </div>
            <p>¡ Visítanos !</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / banner -->


  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Sushi Dombury</h1>
          <p class="header-p">¡Ven a conocer nuestro menú! </p>
        </div>                                                                                    
      </div>
    </div>
  </section>

  <!--/about-->
<section>
        <div class="container">
        <div class="row">
            <div class="col s12">              
                <div class="carousel center-align">
                    <div class="carousel-item">
                        
                        <img src="../Dombury_Sushi/img/kass.jpg" id ="1" alt="">
                    </div>
                    <div class="carousel-item">                        
                        <p class="sabor">Mechudo</p>
                        <img src="../Dombury_Sushi/img/mechudo.jpg" alt="">
                    </div>
                    <div class="carousel-item">    
                      <p class="sabor">Naturales</p>                   
                        <img src="../Dombury_Sushi/img/sushinat.jpg" alt="">
                    </div>
                    <div class="carousel-item">  
                      <p class="sabor">Bomba Mixta</p>                      
                        <img src="../Dombury_Sushi/img/bombamix.jpg" alt="">
                    </div>
                    <div class="carousel-item">     
                      <p class="sabor">Charolas de Sushi</p>                   
                        <img src="../Dombury_Sushi/img/charolaamarilla.jpg" alt="">
                    </div>
                    <div class="carousel-item">    
                      <p class="sabor">Horneados</p>                   
                        <img src="../Dombury_Sushi/img/sushis1.jpg" alt="">
                    </div>                    
                    <div class="carousel-item">     
                      <p class="sabor">Empanizados</p>                  
                        <img src="../Dombury_Sushi/img/sushis2.jpg" alt="">
                    </div>
                    <div class="carousel-item">     
                      <p class="sabor">¡ Ven y Pruebalos !</p>                  
                        <img src="../Dombury_Sushi/img/guerranat.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</section>


  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Menú</h1>
          <p class="header-p">Prueba nuestras diferentes opciones que tenemos para ti. </p>
        </div>
        <div class="col-md-12  text-center gallery-trigger">
          <ul>
            <li><a class="filter" data-filter="all">Todos</a></li>
            <li><a class="filter" data-filter=".category-1">Empanizados</a></li>
            <li><a class="filter" data-filter=".category-2">Naturales</a></li>
            <li><a class="filter" data-filter=".category-3">Horneados</a></li>
            <li><a class="filter" data-filter=".category-4">Extras</a></li>
            <li><a class="filter" data-filter=".category-5">Terminación</a></li>
            <li><a class="filter" data-filter=".category-6">Bebidas</a></li>
          </ul>
        </div>
        <!--LISTADO DE SUSHIS-->
        <!--EMPANIZADOS-->
        <div id="Container">
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title"  >Bebé</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
                        <span class="menu-price">$55</span>                       
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title" >Vegas</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$79</span>                       
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title" >Bomba</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$80</span>                       
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title" >Nat Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$82</span>                 
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title" >Res Blue</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$74</span>                    
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Mexican</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$83</span>                      
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Mechudo</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$83</span>                       
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Negro Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$88</span>                    
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Tres Quesos</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$73</span>                       
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Cordon Blue</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$73</span>            
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Mar y Tierra</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$60</span>                       
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Grande Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$121</span>                      
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Camaron Blue</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$75</span>                     
          </div>
          <div class="mix category-1 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Cielo,Mar y Tierra</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$75</span>                     
          </div>


          <!--NATURALES-->
          <div class="mix category-2 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title" >Guerra</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$81</span>                     
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title"  >Red Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$80</span>                       
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title"  >Roro Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$81</span>                      
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title" >D.Especial</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$85</span>                    
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title"  >Pachiki Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$120</span>                       
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title"  >Guamuchilito</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$80</span>                       
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Aguachile Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$120</span>                    
          </div>


          <!--HORNEADOS-->
          <div class="mix category-3 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title" >Tres D</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$85</span>                     
          </div>
          <div class="mix category-3 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Abocado</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$92</span>                       
          </div>
          <div class="mix category-3 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Green Hot</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$92</span>                      
          </div>
          <div class="mix category-3 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Jonny Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$120</span>                                
          </div>

          <!--EXTRAS-->
          <div class="mix category-4 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Jonny Roll</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$120</span>                                
          </div>

          <div class="mix category-4 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Gratinado c/Tocino y Serrano</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$25</span> 
          </div>                                  
          <div class="mix category-4 menu-restaurant" data-myorder="2">
              <span class="clearfix">
                          <a class="menu-title">Gratinado</a>
                          <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20</span>                        
          </div>          
          <div class="mix category-4 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Empanizado</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$6</span>                      
          </div>
          <div class="mix category-4 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Tampico</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$18</span>                      
          </div>
          <div class="mix category-4 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Chile Relleno</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$38</span>                      
          </div>
          <div class="mix category-4 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Charola de Sushi</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$370</span>                      
          </div>

          <!--TERMINACION-->
          <div class="mix category-5 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Term.Abocado</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$35</span>                      
          </div>
          <div class="mix category-5 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Term.Mechudo</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$30</span>                      
          </div>
          <div class="mix category-5 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Term.Guamuchilito</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$30</span>                      
          </div>
          <!--BEBIDAS-->
          <div class="mix category-6 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Té 1 LT.</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$23</span>                      
          </div>
          <div class="mix category-6 menu-restaurant" data-myorder="2">
            <span class="clearfix">
                        <a class="menu-title">Jamaica 1 LT.</a>
                        <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$23</span>                      
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ menu -->


  <!-- contact -->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="header-h">Ordena Aquí</h1>
          <p class="header-p">Ordena mediante WhatsApp ingresando los datos del Formulario </p>
        </div>
      </div>
      <div class="row msg-row">
        <div class="col-md-4 col-sm-4 mr-15">

          <div class="media-2">
            <div class="media-left">
              <div class="contact-phone bg-1 text-center"><span class="phone-in-talk fa fa-phone"></span></div>
            </div>
            <div class="media-body">
              <h4 class="dark-blue regular">Teléfono</h4>
              <p class="parrafos regular alt-p">+52 6674 78 55 44 <span class="contacts-sp"></span></p>
            </div>
          </div>
          <div class="media-2">
            <div class="media-left">
              <div class="contact-phone bg-2 text-center"><span class="phone-in-talk fa fa-map-marker"></span></div>
            </div>
            <div class="media-body">
              <h4 class="dark-blue regular">Ubicación</h4>
              <p class="parrafos regular alt-p">Mina Valenciana #539</p>
              <p class="parrafos regular alt-p">22 de Diciembre</p>
            </div>
          </div>
          <div class="media-2">
            <div class="media-left">
              <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o"></span></div>
            </div>
            <div class="media-body">
              <h4 class="dark-blue regular">Horarios:</h4>
              <p class="parrafos regular alt-p"> Jueves a Lunes</p>
              <p class="parrafos regular alt-p">6:00 PM a 11:00 PM</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <form action="" method="post" role="form" class="contactForm">
            <div id="sendmessage">Orden Realizada!</div>
            <div id="errormessage"></div>

            <!--Datos de formulario-->    
            <div class="col-md-6 col-sm-6 contact-form pad-form">
              <div class="form-group label-floating is-empty">
                <input type="text" name="name" class="form-control" id="cliente" placeholder="Nombre" data-rule="minlen:4" data-msg="Por favor ingresa tu nombre" required />
                <div class="validation"></div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group">
                <input type="text" class="form-control label-floating is-empty" name="phone" id="celular" placeholder="Celular" data-rule="required" data-msg="Campo Requerido" required/>
                <div class="validation"></div>
              </div>
            </div>

          
            <!--*******TIPO ENTREGA*********-->
            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group" id="listasushis">

                <select v-model="selected" id="lista" class="form-control form-control-user validateable" style="height: 50px; padding: 0.375rem 0.75rem; width: 100%;" tabindex="-1" required>
                  <option v-for="option in options" :disabled="selected.includes(option.value)" :value="option.value" required>
                    {{ option.text }}</option>                  
                </select>
              </div>
            </div>

            
            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group">
                <select id="bebida" onchange="" name="responsable" class="form-control form-control-user validateable" style="height: 50px; padding: 0.375rem 0.75rem; width: 100%;" tabindex="-1" required>
                  <option value="" disabled selected>Selecciona Bebida</option>
                  <option value="Sin Bebida.">Sin Bebida.</option>
                  <option value="Té 1 Lt.">Té 1 Lt.</option>
                  <option value="Jamaica 1 Lt.">Jamaica 1 Lt.</option>                  
                </select>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group">
                <select id="entrega" onchange="" name="responsable" class="form-control form-control-user validateable" style="height: 50px; padding: 0.375rem 0.75rem; width: 100%;" tabindex="-1" required>
                  <option value="" disabled selected>Selecciona Tipo de Entrega</option>
                  <option value="A Domicilio">A Domicilio</option>
                  <option value="Recogeré mi pedido">Recogeré mi pedido</option>                  
                </select>
              </div>
            </div>
            
            <div class="col-md-12 contact-form">
              <div class="form-group label-floating is-empty">
                <textarea class="form-control" id="direccion" name="message" rows="1" rows="3" data-rule="required" data-msg="Campo Requerido" placeholder="Dirección"></textarea>
                <div class="validation"></div>
              </div>
            </div>
            
            <!--****************-->
            <div class="col-md-12 contact-form">
              <div class="form-group label-floating is-empty">
                <textarea class="form-control" name="message" id="comentarios" rows="1" rows="3" data-rule="required" data-msg="Campo Requerido" placeholder="Comentarios Adicionales"></textarea>
                <div class="validation"></div>
              </div>
            </div>

            <div class="col-md-12 btnpad">
              <div class="contacts-btn-pad">
                <button class="contacts-btn" type="submit" onclick="ordenar()">Realizar Pedido <i class="fa fa-whatsapp fa-lg"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- / contact -->
  <!-- footer -->
  <footer class="footer text-center">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
          <div class="widget">
            
            <p>Síguenos en Nuestras Redes:</p>
            <div class="social-list">
              <a href="https://www.instagram.com/sushidombury/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/Sushi-Dombury-Culiac%C3%A1n-102801871495201"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
            <p class="copyright clear-float">
              © Sushi Dombury - Todos los derechos reservados.
              <div class="credits">
                
                Sitio desarrollado por <a href="../../index.html">RagoDev</a>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- / footer -->

  <a href="#" class="regresar-inicio"><i class="fa fa-chevron-up"></i></a>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.mixitup.min.js"></script>
  <script src="js/custom.js"></script>

  <script src="js/news/scroll.js"></script>  
  <script src="js/news/main.js"></script>    
  <script src="js/news/formularios.js"></script>   
 

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="js/news/sushis.js"></script>  



</body>
</html>
