

label {
    font-size: 1.0rem;
    color: #9e9e9e;
}
.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

.carousel{
    min-height: 500px;
}
.carousel .carousel-item{
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    user-select: none;    
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
z-index: -1;
border-radius: 15px;
}


.carousel .indicators .indicator-item.active {
    background-color: #000;
}

.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: #FFB03B;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}
/*version mobile*/
@media (max-width:789px){
    .row .col.s12 {
    width: 127%;
    margin-left: -38px;
    left: auto;
    right: auto;
}
.carousel .carousel-item img {
    width: 77%;
    height: 77%;
    object-fit: cover;
    position: absolute;
    top: 8px;
    left: 52px;
    z-index: -1;
    border-radius: 15px;
}
.sabor {
    color: #fff;
    margin: 7px 0;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}


}